<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница настройки генерации</title>
    <link rel="stylesheet" href="../static/css/generation_setts.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="generation-setts-page">
        <form role="form" class="gen-setts-form" action="{{ url_for('generate') }}" method="POST">
            <div class="form-group">
                <div class="course-name">
                    <label id="course-name-label">Имя курса</label>
                </div>
            </div>
            <div class="form-group">
                <label for="testname">Название контрольной:</label>
                <input type="text" class="form-control" id="testname" placeholder="Введите название контрольной">
            </div>
        </form>
    </div>
</body>
</html>