<html>
<head>
    <meta charset="utf-8">
    <title>Страница пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_info.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="user-page">
    <div class="form">
            <div class="w3-display-topleft w3-margin-top" style="width: 100%">
                <div class="w3-row">
                    <div class="w3-col l12">
                        <input class="w3-col l1 w3-input w3-check" type="checkbox" id="isDownloadCheckbox">
                        <label class="w3-col l3" for="isDownloadCheckbox" style="font-size: large; margin-top: 4px">Скачать курс</label>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l5" id="CourseDownloadInfo"></div>
                </div>
            </div>
            <div class="logout-button">
                <a href={{ url_for('logout') }}>
                    <img id="logout" src="../static/icons/logout_icon.png" width="48px" height="48px">
                </a>
            </div>
            <div class="user-name">
                <h4>
                    Здравствуйте,
                </h4>
                <h3 name="user_name">
                    {{ name }}
                </h3>
            </div>
            <div class="input-group mb-3" id="course-selection">
                <div class="w3-row" style="width: 100%">
                    <select name="id" class="custom-select w3-col s10 m10 l10" id="inputGroupSelect02">
                        <option selected value="" disabled>Choose...</option>
                        {% for course in courses %}
                            <option value="{{ course['id'] }}">{{ course['title'] }}</title></option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append w3-col s2 m2 l2">
                        <label class="input-group-text" for="inputGroupSelect02">Курсы</label>
                    </div>
                </div>
                <div class="w3-row w3-margin-top" style="width: 100%">
                    <button class="w3-col l5" id="select-button1">Контрольная</button>
                    <p class="w3-col l2">  </p>
                    <button class="w3-col l5" id="select-button2">Учебный план</button>
                </div>
            </div>
    </div>
</div>
<script>
    var isDownloaded = false;
    var createDate;

    $(document).ready(function(){
        $('#isDownloadCheckbox').prop('disabled', true);

        $('#inputGroupSelect02').change(function () {
            $.get(`/check?id=${$(this).val()}`, data => {
                isDownloaded = data.isSave;
                if (isDownloaded) {
                    createDate = new Date(data.createDate).toLocaleDateString();
                    
                    $('#isDownloadCheckbox').prop('disabled', false);
                    $('#isDownloadCheckbox').prop('checked', false);
                    $('#CourseDownloadInfo').text(`Курс был скачен: ${createDate}`);
                }
                else {
                    createDate = "";
                    $('#isDownloadCheckbox').prop('checked', true);
                    $('#isDownloadCheckbox').prop('disabled', true);
                    $('#CourseDownloadInfo').text(`Курс ещё не скачен`);
                }
            })
        })

        $('#select-button1').click(() => {
            let id = $('#inputGroupSelect02').val();
            let isDownload = $('#isDownloadCheckbox').prop('checked');

            window.location = `/course?id=${id}&download=${isDownload}`;
        });

        $('#select-button2').click(() => {
            let id = $('#inputGroupSelect02').val();
            let isDownload = $('#isDownloadCheckbox').prop('checked');

            window.open(`/plan?id=${id}&download=${isDownload}`);
        });
    });
</script>
</body>
</html>